multipliers:
  blast_resistance: 1.0
  hardness: 2.0

overrides:
  OBSIDIAN:
    blast_resistance: 2.0
    hardness: 5.0

worlds:
  world:
    multipliers:
      blast_resistance: 1.0
      hardness: 2.0

explosions:
  enabled: true

mining:
  enabled: true
  intercept_break: true
  animation_tick_rate: 2
  animation_radius: 64
  clear_cracks_on_abort: true

worldguard:
  respect_worldguard: true
